@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
:root {
    --blue: #142b6f;
    --yellow : #ffd601;
    --gray : #e1dee6;
    --white: #ffffff;
  }
 *{
    scroll-behavior: smooth;
 } 
header{
        background-color: var(--white);
        height: 16vh;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        border-bottom: 1px solid var(--gray);
}
 .heading-strip{
    text-align: center;
    background-color: #ffd601;
    height: 3vh; 
    color: var(--white);
} 
.nav{
  height: 11vh;
  width: 100%;
  padding-bottom: 1.5%;
}
.nav-brand {
    font-size: 3em;
    color: var(--blue);
    font-family: 'Abril Fatface', cursive;
    padding-left: 5%;
}
ul li {
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    text-transform: uppercase;

}
ul li a{
    color : var(--blue) !important;
    font-size: 0.8em;
}
.icon{
    font-size: 1.2em;
}
.btn-blue {
    background-color: var(--blue);
    color : var(--white);
    border-radius: 30px;
    cursor: pointer;
    padding: 3%;
    width: 50%;
    font-weight: bolder;
    border: none;
    font-family: "Poppins", sans-serif;
}

/* ====================================================HERO======================================================= */
.hero-section{
    width: 100%;
    height: 700px;
    position: relative;
}
.hero-imgs{
    width: 100%;
    height: 700px;
    position: relative;
    display: flex;
}
.hero-imgs img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
 .hero-imgs img:first-of-type{
    animation-delay: 3s;
}
.hero-imgs img :last-of-type{
    animation-delay: 7s;
} 
.hero-imgs span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

@keyframes multiple-image-crossfade {
    0% {
      opacity:1;
    }
    50%{
        opacity: 0;
    }
    100% {
      opacity:1;
    }
  }
  .hero-headings {
    background-color: whitesmoke;
    padding: 3% 5%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: 40%;
    font-size: 0.9em;
  }
  .hero-headings h3{
         margin-bottom: 3%;
        font-family:  'Poppins', sans-serif;
        font-size: 1.5em;
  }
  .hero-headings div {
    width: 50px;
    height: 5px;
    background-color: var(--yellow);
    margin-bottom: 3%;
  }
  .hero-headings p{
    margin-bottom: 3%;
  }
  @media (max-width: 580px) {
    .hero-headings {
      width: 100%;
    }
  }

  /* ============================================PRODUCTS SECTION========================================================= */
  
 .products-section {
    background-color: whitesmoke;
    padding-top: 7%;
    text-align:center;
    padding-bottom: 5%;

} 
.products-section h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--blue);
}
.product-list-container {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 780px) {
   .product-card {
        width: 300px !important;
    }
  }
@media (max-width: 580px) {
    .product-list-container{
      flex-direction: column;
      height: fit-content;
    }
    .product-card {
        width: 90% !important;
    }
  }
.product-card{
    width:25%;
    text-align: center;
    background-color: var(--white);
    padding: 3% 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3%;
    height: 450px;
    opacity: 0;
	animation: fadeIn 1s ease-in both;
}
.product-card:nth-child(2) {
	animation-delay: 1s;
}
.product-card:nth-child(3) {
	animation-delay: 2s;
}
.product-card:nth-child(4) {
	animation-delay: 3s;
}
.product-card:nth-child(5) {
	animation-delay: 4s;
}
.product-card:nth-child(6) {
	animation-delay: 5s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.product-card img {
    margin-bottom: 3%;
    width: 100%;
    height: 55%;
}
.product-card p{
    margin-top: 3%;
    border-top: 1px solid rgb(164, 164, 164);
    padding: 5%  3% 1% 3%;
    font-weight: bolder;
    color: var(--blue);
    font-size: 1em;
}
.product-card p:last-of-type {
    border: none;
    color: var(--yellow);
    font-size: 0.9em;
    font-weight: 500;
}

 /* ============================================FOOTER SECTION===============*/
 footer{
    background-color: var(--yellow);
     height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;

 }
 .social-media-section{
    width: 20%;
    display: flex;
    justify-content: space-around;
 }
 .social-media-section i {
    font-size: 2em;
    margin: 0.5em;
    color: var(--blue);

 }
 .footer-links{
    font-weight: 500;
    color: var(--blues);
 }
 .footer-links ul li {
    color: var(--blue)
 }
 .footer-logo div{
    font-size: 3em;
    color: var(--blue);
    font-family: 'Abril Fatface', cursive;
 }
 @media (max-width: 680px) {
    footer{
      flex-direction: column;
      height: fit-content;
    }
  }
