:root {
    --blue: #142b6f;
    --yellow : #ffd601;
    --gray : #e1dee6;
    --white: #ffffff;
  }
section{
    display: flex;
    margin-top: 16vh;
}
section .left {
    width:50%;
    text-align: center;
    margin: 5% auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
section .right {
    width: 30%;
    text-align: center;
    padding: 2%;
    border: 2px solid gray;
    border-radius: 20px;
    margin: 2%;
    height: 600px;
    overflow-y: scroll;
}
p {
    color: var(--blue);
}
@media (max-width: 780px) {
    section{
        flex-direction: column;
    }
    section .left {
        width:90%;
        text-align: center;
    }
    section .right {
        width: 90%;
        text-align: center;
        padding: 2%;
        border: 2px solid gray;
        border-radius: 20px;
        margin: 2%;
        height: 400px;
        overflow-y: scroll;
    }
   }
.fav-card {
    display: block;
    padding-bottom: 2%;
    border-bottom: 2px solid lightgray;
}
.fav-card:last-of-type{
    border:none;
}
.fav-card img{
    width: 100%;
}
#favs-container a{
    text-decoration: none;
}
.fav-buttons-container{
    width: 100%;

}
.fav-buttons-container button{
   margin: 2%;
}
.fav-buttons-container button:last-of-type{
    color:var(--yellow);
    border: 2px solid  var(--yellow);
    border-radius: 20px;
    background-color: transparent;
    padding: 2%;
    margin-left: 2%;
}
.favs-header{
    color: var(--yellow);
    padding: 2% 0;
    font-family: "Poppins", sans-serif;
    text-align: start;
}
#card-body {
    padding-left :6%;

}
#card-body h4{
 padding: 2%;

}
#card-body p{
    padding: 2%;
    line-height: 2em;
    font-size: 1.1em;

}
#card-body a{
    padding: 2%;
    display: inline;
}