
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Jost:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
:root {
  --blue: #142b6f;
  --yellow : #ffd601;
  --gray : #e1dee6;
  --white: #ffffff;
  --red:#ff0000;
  --black:#212529;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
     /* border: 2px solid red; */
     scroll-behavior: smooth;
  }
  
  body {
    font-family: sans-serif;

  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: var(--white)
  }

 /* =====================================================================HEADER=========================================== */
 header{
  background-color: var(--white);
  height: 16vh;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-bottom: 1px solid var(--gray);
}
.heading-strip{
text-align: center;
background-color: #ffd601;
height: 3vh; 
color: var(--white);
} 
.nav{
height: 11vh;
width: 100%;
padding-bottom: 1.5%;
}
.nav-brand {
font-size: 3em;
color: var(--blue);
font-family: 'Abril Fatface', cursive;
padding-left: 5%;
}
ul li {
font-family: 'Poppins', sans-serif;
padding: 4px;
text-transform: uppercase;

}
ul li a{
color : var(--blue) !important;
font-size: 0.8em;
}
.icon{
font-size: 1.2em;
}
.btn-blue {
background-color: var(--blue);
color : var(--white);
border-radius: 30px;
cursor: pointer;
padding: 3%;
width: 50%;
font-weight: bolder;
border: none;
font-family: "Poppins", sans-serif;
}

.removeAll {
  background-color:var(--blue);

  color: var(--white);
  border: none;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;

}


  .cart {
    position: relative;
    background-color: var(--gray);
    font-size: 18px;
     padding: 5px; 
    border-radius: 7px;
    margin-right: 20px;

  }
   
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 10px;
    background-color: var(--red);
    color: var(--white);
    padding: 3px;
    border-radius: 2px;
  }
  
 /* ====================================================TABLE SECTION============================================================== */
 
#cart_container{
  overflow-x: auto;
  
}
table{
  width: 100%;
margin-top: 20px;


}
table th{
  text-align: center;
  background-color:var(--blue);
  color: var(--white);
padding: 5px;

}
table td{
  text-align: center;
  border: 2px solid black;


}



.delete{
 font-size: 30px;
 color: var(--red)
}



.bi-dash-lg {
  color: var(--white);
  background-color: var(--gray);
  width: 50px;
  font-size: 30px;
float: right;
border-radius: 50px;

}

.quantity{
  font-size: 30px;


}
.bi-plus-lg {
  color: var(--white);
  background-color: var(--gray);
  width: 50px;
  font-size: 30px;
float: left;
border-radius: 50px;

}


@media(max-width:1000px){

  #label{
   width: 400px;
 
       }

.buttons{
 align-items: center;
  display: flex;
  flex-direction: column;
       }
}


@media(max-width:500px){

  #label{
   width: 250px;
        }
 
.button_cart{
display: flex;
flex-direction: column;
width: 140px;
margin-left: 50px;
       }


       }
/*==========================================================CART TOTAL==============================================================  */

#label{

  max-width: 600px;
--bs-gutter-x: 0  !important;

     }


#label h2{
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10px;
}

.HomeBtn,
.checkout
 {
  font-size: 15px;
  color: var(--white);
  margin:0 20px;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 10px;
}
/* ========================================================GO TO HOME ========================================================= */
h2{
  padding: 10px;
}

.gotohome{
  font-size: 15px;
  color: var(--white);
  margin:0 20px;
  background-color: var(--blue);
  padding: 10px;
  border-radius: 10px;
  

} 
.gotohome a{
  text-decoration: none;
  color: var(--white);
}

 



 /* ============================================FOOTER SECTION===============*/
 footer{
  background-color: var(--yellow);
   height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  margin-top: 20px;

}
.social-media-section{
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.social-media-section i {
  font-size: 2em;
  margin: 0.5em;
  color: var(--blue);

}
.footer-links{
  font-weight: 500;
  color: var(--blues);
}
.footer-links ul li {
  color: var(--blue)
}
.footer-logo div{
  font-size: 3em;
  color: var(--blue);
  font-family: 'Abril Fatface', cursive;
}
@media (max-width: 680px) {
  footer{
    flex-direction: column;
    height: fit-content;
  }
}





  